[Unit]
Description=Init Password for image
After=network.target mysql.service mysqld.service mongod.service docker.service {{init_service_before}}.service

[Service]
Type=oneshot
TimeoutSec=2s
ExecStart=/bin/bash /credentials/init.sh
ExecStart=/bin/systemctl disable init-password

[Install]
WantedBy=multi-user.target
