[Unit]
Description=Init Password for image
Before={{init_service_before}}
After={{init_service_after}}

[Service]
Type=oneshot
TimeoutSec=2s
ExecStart=/bin/bash /credentials/init.sh
ExecStart=/bin/systemctl disable init-password

[Install]
WantedBy=multi-user.target
