[Unit]
Description=Init Password for image

{% if init_db is not none %}
{% for dbs in init_db %}
Before={{init_service_unit[dbs].before}}
After={{init_service_unit[dbs].after}}
{% endfor %}
{% endif %}

{% if init_application is not none %}
{% for apps in init_application.items() %}
Before={{apps.before}}
After={{apps.after}}
{% endfor %}
{% endif %}

[Service]
Type=oneshot
TimeoutSec=2s
ExecStart=/bin/bash /credentials/init.sh
ExecStart=/bin/systemctl disable init-password

[Install]
WantedBy=multi-user.target
