[Unit]
Description=Init Password for image
After=network.target mysql.service mysqld.service {{init_service_before}}.service

[Service]
Type=oneshot
TimeoutSec=5s
ExecStart=/usr/bin/bash /tmp/init.sh

[Install]
WantedBy=multi-user.target
