[Unit]
Description=Init Password for image
After=network.target systemd-networkd-wait-online.service

{% if init_db %}
{% for dbs in init_db %}
{% if init_service_unit[dbs].before is defined and init_service_unit[dbs].before is not none %}
Before={{init_service_unit[dbs].before}}
{% endif %}
{% if dbs.service_before is defined and dbs.service_before is not none %}
Before={{dbs.service_before}}
{% endif %}
{% if init_service_unit[dbs].after is defined and init_service_unit[dbs].after is not none %}
After={{init_service_unit[dbs].after}}
{% endif %}
{% if dbs.service_after is defined and dbs.service_after is not none %}
After={{dbs.service_after}}
{% endif %}
{% endfor %}
{% endif %}

{% if init_application %}
{% for app_name,app_attr in init_application.items() %}
{% if app_attr.service_before is defined and app_attr.service_before is not none %}
Before={{app_attr.service_before}}
{% endif %}
{% if app_attr.service_after is defined and app_attr.service_after is not none %}
After={{app_attr.service_after}}
{% endif %}
{% endfor %}
{% endif %}

[Service]
Type=oneshot
TimeoutSec=30s
ExecStart=-/bin/bash /credentials/init.sh
ExecStart=/bin/systemctl disable init-password

[Install]
WantedBy=multi-user.target
