


{% if init_application %}
{% for app_name,app_attr in init_application.items() %}
### Username and Password for your {{ app_name }} login ###

{{app_name}} Username: {{app_attr.username}}
{{app_name}} Password: {{app_attr.password}}

{% endfor %}
{% endif %}
